Text data processing

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series(["a","b"])

0    a
1    b
dtype: object

In [3]:
s1 = pd.Series(["a","b"], dtype="string")
s1

0    a
1    b
dtype: string

In [6]:
s1 = pd.Series(["a","b"])
s1.astype("string")

0    a
1    b
dtype: string

In [7]:
s1 = pd.Series(["a","b"], dtype=pd.StringDtype())
s1

0    a
1    b
dtype: string

In [13]:
string = "Sina,Reza,Zahra,Fateme"

In [14]:
s1 = pd.Series(string.split(','), dtype="string")
s1

0      Sina
1      Reza
2     Zahra
3    Fateme
dtype: string

In [17]:
s1.str.cat(sep=', ')

'Sina, Reza, Zahra, Fateme'

In [18]:
s1.str.cat(sep=' - ')

'Sina - Reza - Zahra - Fateme'

In [21]:
s1.str.cat(sep=',').split(',')

['Sina', 'Reza', 'Zahra', 'Fateme']

In [22]:
s1.str.cat(sep=',').split(',')[0]

'Sina'

In [25]:
string2 = "Hello my name is Nima"
s2 = pd.Series(string2.split(' '), dtype="string")
list2 = s2.str.cat(sep=' ').split(' ')
list2

['Hello', 'my', 'name', 'is', 'Nima']

In [30]:
s2.str.islower()

0    False
1     True
2     True
3     True
4    False
dtype: boolean

In [29]:
s2.str.islower().all()

False

In [31]:
s2.str.isupper()

0    False
1    False
2    False
3    False
4    False
dtype: boolean

In [32]:
s2.str.lower()

0    hello
1       my
2     name
3       is
4     nima
dtype: string

In [33]:
s2.str.upper()

0    HELLO
1       MY
2     NAME
3       IS
4     NIMA
dtype: string

#

In [45]:
s3 = pd.Series(['hi', 'guys', 'This is nima'], dtype='string')

In [46]:
s3.str.title()

0              Hi
1            Guys
2    This Is Nima
dtype: string

In [47]:
s3.str.capitalize()

0              Hi
1            Guys
2    This is nima
dtype: string

In [48]:
s3.str.swapcase()

0              HI
1            GUYS
2    tHIS IS NIMA
dtype: string

In [60]:
s4 = pd.Series(["3", "three", "three3", " ", "h5", "13", "7AC"])
mask = s4.str.isdigit()
s4[mask]

0     3
5    13
dtype: object

In [61]:
mask = s4.str.isnumeric()
s4[mask]

0     3
5    13
dtype: object

In [62]:
mask = s4.str.isalpha()
s4[mask]

1    three
dtype: object

In [67]:
s2

0    Hello
1       my
2     name
3       is
4     Nima
dtype: string

In [68]:
s2.str.len()

0    5
1    2
2    4
3    2
4    4
dtype: Int64

In [69]:
s2.str.len().max()

5

In [70]:
s2.str.len().sum()

17

In [72]:
s2.str.len().sum() / len(s2)

3.4

In [73]:
s2.str.len().mean()

3.4

In [64]:
s2.str.replace('Hello','Hi')

0      Hi
1      my
2    name
3      is
4    Nima
dtype: string

In [74]:
s2.str.count('is')

0    0
1    0
2    0
3    1
4    0
dtype: Int64

In [76]:
sum(s2.str.count('is'))

1

In [75]:
s2.str.count('m')

0    0
1    1
2    1
3    0
4    1
dtype: Int64

In [77]:
sum(s2.str.count('m'))

3

#

In [2]:
Email = pd.read_csv('./datasets/SMSSpamCollection.txt',
                   sep='\t', header=None, names=['Target', 'Email'])
Email

     Target                                              Email
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham                Will  b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [80]:
mask = Email['Email'].str.isdigit()
Email[mask]

     Target Email
1612    ham   645

In [81]:
Email['Email'].str.len()

0       111
1        29
2       155
3        49
4        61
       ...
5567    160
5568     35
5569     57
5570    125
5571     26
Name: Email, Length: 5572, dtype: int64

In [82]:
Email['Email'].str.len().max()

910

In [84]:
Email['Email'].str.len().min()

2

In [88]:
MIN = Email['Email'].str.len().min()

In [89]:
mask = Email['Email'].str.len() == MIN
Email['Email'][mask]

1925    Ok
3051    Ok
4498    Ok
5357    Ok
Name: Email, dtype: object

In [91]:
sum(Email['Email'].str.count('are'))

612

In [92]:
Email['Email'][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [95]:
words = Email['Email'].str.split(' ')[0]
words

['Go',
 'until',
 'jurong',
 'point,',
 'crazy..',
 'Available',
 'only',
 'in',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet...',
 'Cine',
 'there',
 'got',
 'amore',
 'wat...']

In [96]:
len(words)

20

<div class="alert alert-success">
    <b>EXERCISE</b>:
     <ul>
      <li>
          <h5>How to find the 'word len' of every emails?</h5>  </br>
          Hint: do not use 'for' loop. Why?
      </li>
    </ul>
</div>

In [41]:
# %load solutions/python-pandas-4-solution.py

### Work with stop words

In [111]:
StopWords = pd.read_json('./datasets/stopwords-en.json')
n= StopWords.to_numpy()
len(n)

1298

In [114]:
def remove(x):
    StopWords = pd.read_json('./datasets/stopwords-en.json')
    n = StopWords.to_numpy()
    return " ".join(w for w in x.split() if w not in n)

In [120]:
%%time
# Emails without stop words
Email_wo_sws = Email['Email'].apply(remove)
Email_wo_sws

Wall time: 14.4 s

0       Go jurong point, crazy.. Available bugis buffe...
1                             Ok lar... Joking wif oni...
2       Free entry 2 wkly comp win FA Cup final tkts 2...
3                                   U dun hor... U say...
4                                        Nah I usf, lives
                              ...
5567    This 2nd time 2 contact u. U $750 Pound prize....
5568                                 Will esplanade home?
5569             Pity, * mood that. So...any suggestions?
5570                 The guy bitching I acted buying week
5571                                       Rofl. Its true
Name: Email, Length: 5572, dtype: object

In [121]:
%%time
Email_wo_sws2 = Email['Email'].apply(lambda x: " ".join(x for x in x.split() if x not in n ))
Email_wo_sws2

Wall time: 3.27 s

0       Go jurong point, crazy.. Available bugis buffe...
1                             Ok lar... Joking wif oni...
2       Free entry 2 wkly comp win FA Cup final tkts 2...
3                                   U dun hor... U say...
4                                        Nah I usf, lives
                              ...
5567    This 2nd time 2 contact u. U $750 Pound prize....
5568                                 Will esplanade home?
5569             Pity, * mood that. So...any suggestions?
5570                 The guy bitching I acted buying week
5571                                       Rofl. Its true
Name: Email, Length: 5572, dtype: object

In [122]:
Email['Email'][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [124]:
Email_wo_sws[0]

'Go jurong point, crazy.. Available bugis buffet... Cine amore wat...'

In [125]:
Email_wo_sws2[0]

'Go jurong point, crazy.. Available bugis buffet... Cine amore wat...'

### now we will proceed to examine some practical functions:

In [126]:
first_ten_emails = Email['Email'][0:10]
first_ten_emails

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
5    FreeMsg Hey there darling it's been 3 week's n...
6    Even my brother is not like to speak with me. ...
7    As per your request 'Melle Melle (Oru Minnamin...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
Name: Email, dtype: object

In [127]:
first_ten_emails.str.get(0)

0    G
1    O
2    F
3    U
4    N
5    F
6    E
7    A
8    W
9    H
Name: Email, dtype: object

In [128]:
first_ten_emails.str.get(-1)

0    .
1    .
2    s
3    .
4    h
5    v
6    .
7    e
8    .
9    0
Name: Email, dtype: object

In [131]:
Email['Email'].str.find('crazy')

0       23
1       -1
2       -1
3       -1
4       -1
        ..
5567    -1
5568    -1
5569    -1
5570    -1
5571    -1
Name: Email, Length: 5572, dtype: int64

In [133]:
Email['Email'][0][23:28]

'crazy'

In [135]:
mask = Email['Email'].str.find('crazy') != -1

11

In [136]:
Email['Email'][mask]

0       Go until jurong point, crazy.. Available only ...
1011    Lol I would but my mom would have a fit and te...
1668    So now my dad is gonna call after he gets out ...
2803    And smile for me right now as you go and the w...
2848    Free-message: Jamster!Get the crazy frog sound...
2930    Where wuld I be without my baby? The thought a...
3099             This is all just creepy and crazy to me.
3752        Haha... Sounds crazy, dunno can tahan anot...
4974    Oops I was in the shower when u called. Hey a ...
5098    TheMob>Hit the link to get a premium Pink Pant...
5511                 Its reassuring, in this crazy world.
Name: Email, dtype: object

In [137]:
len(Email['Email'][mask])

11

In [141]:
# searching for 'love'
mask = Email['Email'].str.find('love') != -1
len(Email['Email'][mask])

167

In [146]:
Email['Email'].str.find('is')

0       52
1       -1
2       -1
3       -1
4       -1
        ..
5567     2
5568    -1
5569    -1
5570    -1
5571    -1
Name: Email, Length: 5572, dtype: int64

In [145]:
Email['Email'].str.findall('is')

0               [is]
1                 []
2                 []
3                 []
4                 []
            ...
5567    [is, is, is]
5568              []
5569              []
5570              []
5571              []
Name: Email, Length: 5572, dtype: object

In [149]:
S = Email['Email'].str.findall('is')
S = S.astype('string')
S.value_counts()

[]                                            4121
['is']                                        1029
['is', 'is']                                   312
['is', 'is', 'is']                              79
['is', 'is', 'is', 'is']                        23
['is', 'is', 'is', 'is', 'is']                   6
['is', 'is', 'is', 'is', 'is', 'is', 'is']       2
Name: Email, dtype: Int64

In [150]:
ss = Email['Email'].str.split()
ss = ss.str.join('*')
ss

0       Go*until*jurong*point,*crazy..*Available*only*...
1                           Ok*lar...*Joking*wif*u*oni...
2       Free*entry*in*2*a*wkly*comp*to*win*FA*Cup*fina...
3       U*dun*say*so*early*hor...*U*c*already*then*say...
4       Nah*I*don't*think*he*goes*to*usf,*he*lives*aro...
                              ...
5567    This*is*the*2nd*time*we*have*tried*2*contact*u...
5568                   Will*b*going*to*esplanade*fr*home?
5569    Pity,***was*in*mood*for*that.*So...any*other*s...
5570    The*guy*did*some*bitching*but*I*acted*like*i'd...
5571                           Rofl.*Its*true*to*its*name
Name: Email, Length: 5572, dtype: object

In [151]:
s2

0    Hello
1       my
2     name
3       is
4     Nima
dtype: string

In [152]:
s2.str.pad(width=10, side='right', fillchar=' ')

0    Hello
1    my
2    name
3    is
4    Nima
dtype: string

In [157]:
s2.str.pad(width=10, side='left', fillchar='^')

0    ^^^^^Hello
1    ^^^^^^^^my
2    ^^^^^^name
3    ^^^^^^^^is
4    ^^^^^^Nima
dtype: string

In [155]:
s2.str.pad(width=10, side='both', fillchar='*')

0    **Hello***
1    ****my****
2    ***name***
3    ****is****
4    ***Nima***
dtype: string

In [159]:
s2.str.slice(start=0, stop=2, step=1)

0    He
1    my
2    na
3    is
4    Ni
dtype: string

In [160]:
slice1 = Email['Email'].str.split()
slice1.str.slice(start=0, stop=3, step=1)

0        [Go, until, jurong]
1       [Ok, lar..., Joking]
2          [Free, entry, in]
3              [U, dun, say]
4            [Nah, I, don't]
                ...
5567         [This, is, the]
5568        [Will, b, going]
5569         [Pity,, *, was]
5570         [The, guy, did]
5571      [Rofl., Its, true]
Name: Email, Length: 5572, dtype: object

In [174]:
mask = Email['Email'].str.startswith('hi')
Email['Email'][mask]

288     hi baby im cruisin with my girl friend what r ...
2164    hi my darlin im on my way to London and we hav...
4569    hiya hows it going in sunny africa? hope u r a...
4952    hi baby im sat on the bloody bus at the mo and...
Name: Email, dtype: object

In [175]:
len(Email['Email'][mask])

4

In [176]:
mask = Email['Email'].str.startswith('hi ') #space
Email['Email'][mask]

288     hi baby im cruisin with my girl friend what r ...
2164    hi my darlin im on my way to London and we hav...
4952    hi baby im sat on the bloody bus at the mo and...
Name: Email, dtype: object

In [177]:
len(Email['Email'][mask])

3

In [168]:
mask = Email['Email'].str.startswith('Good afternoon')
Email['Email'][mask]

365     Good afternoon sunshine! How dawns that day ? ...
536     Good afternoon, my love! How goes that day ? I...
821     Good afternoon starshine! How's my boytoy? Doe...
1021    Good afternoon on this glorious anniversary da...
1107    Good afternoon, my love. How goes your day ? W...
1358    Good afternoon loverboy ! How goes you day ? A...
1546    Good afternoon, my love ! Any job prospects ? ...
1773    Good afternoon sexy buns! How goes the job sea...
2464    Good afternoon, babe. How goes that day ? Any ...
2674    Good afternoon, my boytoy ... How are you feel...
4084    Good afternoon, my love. It was good to see yo...
4562    Good afternoon my boytoy. How goes that walkin...
5495    Good afternoon, my love ... How goes your day ...
Name: Email, dtype: object

In [169]:
len(Email['Email'][mask])

13

In [9]:
mask = Email['Email'].str.endswith(' day')
Email['Email'][mask]

195     How are you doing? Hope you've settled in for ...
196                          Gud mrng dear hav a nice day
597                         Gud mrng dear have a nice day
790                          Gud mrng dear hav a nice day
1361    Yo dude guess who just got arrested the other day
1584    It's cool, let me know before it kicks off aro...
2086     Moji i love you more than words. Have a rich day
2363    How are you doing? Hope you've settled in for ...
2970       Ma head dey swell oh. Thanks for making my day
3733                         Gud mrng dear hav a nice day
4910                             Will do. Have a good day
5231    I realise you are a busy guy and i'm trying no...
Name: Email, dtype: object

In [10]:
len(Email['Email'][mask])

12

In [11]:
Email['Email'].str.split(expand=True)

,0,1,2,3,4,5,6,7,8,9,...,161,162,163,164,165,166,167,168,169,170
0,Go,until,jurong,"point,",crazy..,Available,only,in,bugis,n,...,None,None,None,None,None,None,None,None,None,None
1,Ok,lar...,Joking,wif,u,oni...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Free,entry,in,2,a,wkly,comp,to,win,FA,...,None,None,None,None,None,None,None,None,None,None
3,U,dun,say,so,early,hor...,U,c,already,then,...,None,None,None,None,None,None,None,None,None,None
4,Nah,I,don't,think,he,goes,to,"usf,",he,lives,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,This,is,the,2nd,time,we,have,tried,2,contact,...,None,None,None,None,None,None,None,None,None,None
5568,Will,b,going,to,esplanade,fr,home?,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5569,"Pity,",*,was,in,mood,for,that.,So...any,other,suggestions?,...,None,None,None,None,None,None,None,None,None,None
5570,The,guy,did,some,bitching,but,I,acted,like,i'd,...,None,None,None,None,None,None,None,None,None,None
5571,Rofl.,Its,true,to,its,name,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [35]:
Email['Email'].str.split().str.len().max()

171